.main_chat

 .head
  .headcontents
   .leftcontent
    .text1
     = @group.name
    .text2
     Members:
     - @group.users.each do |user|
      = user.name
   .rightcontent
    .text3
     =link_to 'Edit', edit_group_path(@group), class: "text3"


 .main
  .messagesall
   = render @messages
    
  
 .bottom
  .forms
   =form_for [@group, @message] do |f|
    =f.text_field :content, class: 'typeform', placeholder: 'type a message'
    .imagebutton
     =f.label :image, class: 'imagebutton' do
      = icon('fas', 'image', class: 'icon2')
      = f.file_field :image, class: 'hidden'
      
    =f.submit 'Send', class: 'sendbtn'

